{# src/CruzDigital/PayGradeBundle/Resources/views/Account/register.html.twig #}
{% extends 'PayGradeBundle::layout.html.twig' %}

{% block content %}
<div data-role="page" id="register" style="margin:0; padding:0; >
<div class="scroll" style="padding:5px">
{{ form(form) }}
</div> 
</div> 
{% endblock %}
