//override FOSUserBundle Layout
<!DOCTYPE html>
<html>
    <head>
	 <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        
		  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	
		<script src="{{ asset('bundles/PayGrade/js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('bundles/PayGrade/js/jquery-ui-1.10.4.custom.js') }}" type="text/javascript"></script>
	
		<script src="{{ asset('bundles/PayGrade/js/jquery.mobile-1.4.2.min.js') }}" type="text/javascript"></script>
	  		
		<link rel="stylesheet" href="{{ asset('bundles/PayGrade/js/jquery.mobile-1.4.2.min.css') }}" />
 		<script src="{{ asset('bundles/PayGrade/js/jquery.rateit.js') }}" type="text/javascript"></script> <script src="{{ asset('bundles/PayGrade/js/iscroll.js') }}" type="text/javascript"></script>
		 <script src="{{ asset('bundles/PayGrade/js/jquery.mobile.iscrollview.js') }}" type="text/javascript"></script>
	 	
		<link rel="stylesheet" href="{{ asset('bundles/PayGrade/js/jquery.mobile.iscrollview.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/PayGrade/js/rateit.css') }}" />
        <title>{% block title %}{% endblock %}</title>
  
		  <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />

        {% block head %}{% endblock %}
		
    </head>
    <body>
        <div id="content">
            <div class="header clear-fix">
                <div class="header-logo">
                   
                </div>

                
            </div>
            <div class="sf-reset">
			{% for flashMessage in app.session.flashbag.get('notice') %}
        		<div class="flash-message">
            	<em>Notice</em>: {{ flashMessage }}
        		</div>
    		{% endfor %}
            {% block body %}{% endblock %}
				<div class="block">
					{{ block('fos_user_content') }}
        			{% block content %}{% endblock %}
    			</div>
            </div>
        </div>
	</div> 	
		<script>
   
</script>
    </body>
</html>


