
	

<div data-role="page" id="goodbye">
	<div role="main" class="ui-content"   style="margin-top:65px; text-align:center; ">
		<div class="ui-body ui-body-a ui-corner-all"style="max-width:500px; 
		      text-align:left;  margin-left: auto; margin-right: auto ; ">
	
	<div id="instructionwrapper" style=" padding-left:0px; padding-right:0px;" data-iscroll-fixed > 
	<strong>Thank you for using Notariety!</strong><br/>
	<a href="{{path('_welcome')}}" data-ajax="false"> login </a>
	</div> <!-- wrapper -->
		
	</div><!-- main -->
	
</div><!-- page -->
	