{% extends "PayGradeBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
	
		 <script src="{{ asset('bundles/PayGrade/js/idangerous.swiper.js') }}" type="text/javascript"></script>
	 	
		<link rel="stylesheet" href="{{ asset('bundles/PayGrade/js/idangerous.swiper.css') }}" />
		

	
	
<style>html{height:100%;}
body{
margin:0;font-family:Arial,Helvetica,sans-serif;
font-size:13px;line-height:1.5;position:relative;height:100%;}

.swiper-container{width:100%;height:100%;color:#CCC;text-align:center;}

.pagination{position:absolute;z-index:20;width:100%;text-align:center;top:70%;}

.swiper-pagination-switch{display:inline-block;width:8px;height:8px;border-radius:8px;background:#222;margin-right:5px;opacity:0.8;border:1px solid #666;cursor:pointer;}

.swiper-visible-switch{background:#aaa;}.swiper-active-switch{background:#fff;}

</style>
<style>
	
		.welcomeblock {
		
		
		
		background-color:#FFF; 	
		text-align:center; 
		background-repeat:no-repeat; 
		background-position:center;
		background-size:contain;
		
		} 
		.slidepadding {padding-top:20px} 
.mybuttons{position:absolute;z-index:15;width:100%;top:80%;}
.mybuttons a {width:100px;} 
.mycontainer { width:100%; height:100% } 

</style>
{% endblock %}

{% block title %}Notariety{% endblock %}
	

{% block content %}
	<script>
		{% if is_granted('ROLE_USER') %}
    var url = "{{path('browse_agency')}}";    
	$(location).attr('href',url);
{% endif %}
</script>
<div class="mycontainer">
<div class="swiper-container">
<div class="swiper-wrapper">
	<div class="swiper-slide red-slide">
		
			<div class="welcomeblock" style="background-image:url('{{ asset('bundles/PayGrade/images/slide1-sm.jpg') }}');"></div>
		
	</div>
	<div class="swiper-slide blue-slide" >
		
		<div class="welcomeblock" style="background-image:url('{{ asset('bundles/PayGrade/images/slide2-sm.jpg') }}');"  ></div></div>

	<div class="swiper-slide orange-slide">
		
		<div class="welcomeblock" style="background-image:url('{{ asset('bundles/PayGrade/images/slide3-sm.jpg') }}');"  ></div></div>

</div><div class="mybuttons"<div style="text-align:center"><a href="register" class="ui-btn ui-btn-inline">Get Started</a><a href="{{ path('fos_user_security_login') }}" class="ui-btn ui-btn-inline">Login</a></div>


<div class="pagination"></div>
</div>
</div>
<script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.pagination',
    paginationClickable: true
  })
  </script>
		


<script> 


$( document ).ready(function() {
   $(function(){
				
				
		});
});
</script>

{% endblock %}