{% extends "PayGradeBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
	
		 <script src="{{ asset('bundles/PayGrade/js/idangerous.swiper.js') }}" type="text/javascript"></script>
	 	
		<link rel="stylesheet" href="{{ asset('bundles/PayGrade/js/idangerous.swiper.css') }}" />
	
		<script>
		$(function(){
			$( "[data-role='header']" ).toolbar({ theme: "a" });
				$( "body>[data-role='panel']" ).panel({ theme: "b" });
		});
		
	</script>
<style>html{height:100%;}
body{
margin:0;font-family:Arial,Helvetica,sans-serif;
font-size:13px;line-height:1.5;position:relative;height:100%;padding:0;
background-color:#FFF; 
}



.notarietyheader {z-index:10;width:100%;
	
	background-repeat   : no-repeat;
	background-position : center;
	background-size     : contain; 
	background-color    : #0971A8;
	
	position : relative;
    top		 : 0;
    left     : 0;
    width    : 100%;
    height   : 10%;
	
	}

.spacer{position:relative; width:100%; height:5%;} 

.swiper-container{color:#CCC;text-align:center;height:65%;margin:0; padding:0;
	width :100%; 
	position : relative;
    top      : 20px;
    right    : 0;
    left     : 0;

 }
.paginationwrap { 
position:relative; z-index:20;width:100%;text-align:center;height:5%; 
} 
.pagination{position:relative; z-index:20;width:100%;text-align:center;

}

.buttonwrapper {
	width    : 100%;
	position : relative
   	top		 : 0; 

    width    : 100%;
    height   : 10%;
	background-color:#FFF; 
	margin:0; 
	padding:0; 
} 

.swiper-pagination-switch{display:inline-block;width:8px;height:8px;border-radius:8px;background:#222;margin-right:5px;opacity:0.8;border:1px solid #666;cursor:pointer;}

.swiper-visible-switch{background:#aaa;}.swiper-active-switch{background:#fff;}


	.welcomeblock {
		margin:0; 
		padding:0; 
		height:100%; 
		background-color:#FFF; 	
		text-align:center; 
		background-repeat:no-repeat; 
		background-position:center;
		background-size:contain;
		
		} 	
	
		.slidepadding {padding-top:20px} 
		
.mybuttons{
width:100%; 
padding:0; margin:0; 
		top: 50%;
	transform: 			translateY(-50%);
}


.mybuttons a {width:110px; } 
.ui-page {style:max-height: 100%; height:100%; margin:0; padding:0; } 
#startbtn {background-color: #1F647B;border-style:none;color:white; text-shadow: none;}
#loginbtn {background-color: #BF4630;border-style:none; color:white; text-shadow: none;}
#welcome {
position:relative; 
top:0;
left:0;
margin:0; 
padding:0; 
height : 100%;
background-color:#FFF; 
text-align:center; 
 } 
html, body {
    height : 100%;
	background-color:#FFF; 
	padding:0; 
	margin:0; 
	
}
.ui-header-fixed {padding-top:0px; 
</style>


{% endblock %}

{% block title %}Notariety{% endblock %}
	

{% block content %}
<div data-role="header" data-position="fixed" data-fullscreen="true" data-iscroll-fixed data-tap-toggle="false" data-id="myheader" class="notarietyheader" style="background-image:url('{{ asset('bundles/PayGrade/images/notariety-header.jpg') }}'); padding-top:0px; margin-top:0px; border-width:0; border-style:none;">

	</div><!-- header -->
	
<div data-role="none" id="welcome" class="welcome">
<script>
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    var url = "{{path('browse_agency')}}";    
	$(location).attr('href',url);
{% endif %}
</script>

<div class="spacer" data-enhance="false"></div>
<div class="spacer" data-enhance="false"></div>
<div class="swiper-container" data-role="none" data-enhance="false">
	<div class="swiper-wrapper" data-role="none" data-enhance="false">
		<div class="swiper-slide welcomeblock" data-role="none" data-enhance="false"
			style="background-image:url('{{ asset('bundles/PayGrade/images/Slide-1-Draft.png') }}');">
		</div>
		<div class="swiper-slide welcomeblock" data-role="none" data-enhance="false"
			style="background-image:url('{{ asset('bundles/PayGrade/images/Slide-2-Draft.png') }}');">
		</div>
		<div class="swiper-slide welcomeblock" data-role="none" data-enhance="false"
			style="background-image:url('{{ asset('bundles/PayGrade/images/Slide-3-Draft.png') }}');">
		</div>
	</div>
</div> 
<div class="paginationwrap" data-role="none" data-enhance="false">
<div class="pagination data-role="none"" data-enhance="false"></div></div> 
<div class="buttonwrapper" style="padding:0; margin:0; width:100%; padding-left:5px;"> <div class="mybuttons"><a id="startbtn" href="register" class="ui-btn ui-btn-inline startbtn" data-role="none">Get Started</a><a id="loginbtn" href="{{ path('fos_user_security_login') }}" class="ui-btn ui-btn-inline loginbtn" data-role="none">Login</a></div> 
</div>
<div class="spacer">
</div> 

<script> 


$( document ).ready(function() {
   $(function(){
				
				
		});
});
</script>
<script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.pagination',
    paginationClickable: true
  })
  // Prevent rubber-banding of the body, but allow for scrolling elements
$('body').on('touchmove', function (e) {
    var searchTerms = '.scroll, .scroll-y, .scroll-x',
        $target = $(e.target),
        parents = $target.parents(searchTerms);

    if (parents.length || $target.hasClass(searchTerms)) {
        // ignore as we want the scroll to happen
        // (This is where we may need to check if at limit)
    } else {
        e.preventDefault();
    }
});
  </script>
  <script>
			$(document).on( 'pagebeforeshow' , '#welcome' ,function(event){

				$( "[data-role='header']" ).toolbar({ theme: "a" });
				$( "body>[data-role='panel']" ).panel({ theme: "b" });
	
			});
		</script>
</div> 	


{% endblock %}