{% extends "PayGradeBundle::layout.html.twig" %}


{% block title %}Symfony - Welcome{% endblock %}


{% block content %}{% if app.environment == 'dev' %}
            	 {% endif %}
       		
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
		<script>
		{% if is_granted('ROLE_USER') %}
    var url = "{{path('browse_agency')}}";    
{% endif %}
</script>


<div  data-role="page" id="page1">
	<div class="myheader" data-role="header" data-position="fixed" data-fullscreen="true" data-iscroll-fixed data-tap-toggle="false" data-id="myheader" style="background-color:#3692D3; color:#FFF;">
		<a href="{{ path('browse_agency') }}" class="ui-btn ui-shadow ui-corner-all ui-icon-carat-l ui-btn-icon-left ui-btn-icon-notext">Left</a>
		<h1>Welcome to Notariety</h1>
    		<a href="#" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ui-btn-icon-notext">Option</a>
	</div><!-- end header -->
<div role="main" class="ui-content" style="background-color:#CCCCCC; ">
	<div style="padding-top:60px" id="pageswiper">

    	<div class="symfony-blocks-welcome" style="background-color:#EEEEEE; text-align:center"> <br/>
        	<br/>
			<img src="{{ asset('bundles/PayGrade/images/slide1-sm.jpg') }}" alt="yeah"/>
			<br/>
			<div style="text-align:center"><a href="register" class="ui-btn ui-btn-inline">Get Started</a><a href="{{ path('fos_user_security_login') }}" class="ui-btn ui-btn-inline">Login</a></div>
				<div style="text-align:center">
					<span class="dot dot1 pageselected" data-id="1"></span>
					<span class="dot dot2" data-id="2"></span>
					<span class="dot dot3" data-id="3"></span>
				</div><!-- end dotspanner -->
			</div><!-- end welcomeblock -->
        		
      
    	</div><!-- end swiper -->
	</div><!-- end main -->
</div><!-- endpage->
<div  data-role="page" id="page2"  data-next="page2" >
	<div class="myheader" data-role="header" data-position="fixed" data-fullscreen="true" data-iscroll-fixed data-tap-toggle="false" data-id="myheader" style="background-color:#3692D3; color:#FFF;">
		<a href="{{ path('browse_agency') }}" class="ui-btn ui-shadow ui-corner-all ui-icon-carat-l ui-btn-icon-left ui-btn-icon-notext">Left</a>
		<h1>Welcome to Notariety</h1>
    		<a href="#" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ui-btn-icon-notext">Option</a>
	</div>
<div role="main" class="ui-content" style="background-color:#CCCCCC; ">
	<div style="padding-top:60px" id="pageswiper">
		{% if app.user is not null%}

		{% endif %}

    	<div class="symfony-blocks-welcome" style="background-color:#EEEEEE; text-align:center"> <br/>
        	<br/>
			<img src="{{ asset('bundles/PayGrade/images/slide2-sm.jpg') }}" alt="slider2"/>
			<br/>
			<div style="text-align:center"><a href="register" class="ui-btn ui-btn-inline">Get Started</a><a href="{{ path('fos_user_security_login') }}" class="ui-btn ui-btn-inline">Login</a></div><div style="text-align:center"><span class="dot dot1" data-id="1"></span>
				<span class="dot dot2 pageselected" data-id="2"></span>
				<span class="dot dot3" data-id="3"></span>
				</div>
			</div>
        		{% if app.environment == 'dev' %}
            
       			 {% endif %}
      
    	</div>
	</div>
</div>
<div  data-role="page" id="page3"  data-next="page2" >
	<div class="myheader" data-role="header" data-position="fixed" data-fullscreen="true" data-iscroll-fixed data-tap-toggle="false" data-id="myheader" style="background-color:#3692D3; color:#FFF;">
		<a href="{{ path('browse_agency') }}" class="ui-btn ui-shadow ui-corner-all ui-icon-carat-l ui-btn-icon-left ui-btn-icon-notext">Left</a>
		<h1>Welcome to Notariety</h1>
    		<a href="#" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ui-btn-icon-notext">Option</a>
	</div>
<div role="main" class="ui-content" style="background-color:#CCCCCC; ">
	<div style="padding-top:60px" id="pageswiper">
		{% if app.user is not null%}

		{% endif %}

    	<div class="symfony-blocks-welcome" style="background-color:#EEEEEE; text-align:center"> <br/>
        	<br/>
			<img src="{{ asset('bundles/PayGrade/images/slide3-sm.jpg') }}"/>
			<br/>
			<div style="text-align:center"><a href="register" class="ui-btn ui-btn-inline">Get Started</a><a href="{{ path('fos_user_security_login') }}" class="ui-btn ui-btn-inline">Login</a></div><div style="text-align:center">
				<span class="dot dot1" data-id="1"></span>
				<span class="dot dot2" data-id="2"></span>
				<span class="dot dot3 pageselected" data-id="3"></span>
				</div> 
			</div>
        		{% if app.environment == 'dev' %}
            
       			 {% endif %}
      
    	</div>
	</div>
</div>
<script type="text/javascript"> 
$(document).ready(function()
{
  // Bind the swipeleftHandler callback function to the swipe event on div.box
  $( ".symfony-blocks-welcome" ).on( "swipeleft", swipeleftHandler );
 // Bind the swiperightHandler callback function to the swipe event on div.box
  $( ".symfony-blocks-welcome" ).on( "swiperight", swiperightHandler );
  // Callback function references the event target and adds the 'swipeleft' class to it
  $( ".dot" ).on( "click", dotclickHandler );
  // Callback function references the event target and adds the 'swipeleft' class to it
 
});
var activepage=1; 
function swipeleftHandler( event ){
    
	activepage=activepage+1; if (activepage >3) {activepage=1 };
	$.mobile.changePage("#page"+activepage, {transition: 'slide'});
  }
 function swiperightHandler( event ){
    
	activepage=activepage-1; if (activepage <3) {activepage=3 };
	$.mobile.changePage("#page"+activepage, {transition: 'slide',reverse: 'true'});
  }
function dotclickHandler( event ){
	var prevpage=activepage; 
	activepage=$(this).data("id");
	if (activepage > prevpage) {
	$.mobile.changePage("#page"+activepage, {transition: 'slide'});
	}  
	else {$.mobile.changePage("#page"+activepage, {transition: 'slide', reverse:'true'}); } 
  }
  
</script>
{% endblock %}