{% extends "PayGradeBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
	
		 <script src="{{ asset('bundles/PayGrade/js/idangerous.swiper.js') }}" type="text/javascript"></script>
	 	
		<link rel="stylesheet" href="{{ asset('bundles/PayGrade/js/idangerous.swiper.css') }}" />
	
<style>html{height:100%;}
body{
margin:0;font-family:Arial,Helvetica,sans-serif;
font-size:13px;line-height:1.5;position:relative;height:100%;padding:0;}



.notarietyheader {z-index:10;width:100%;
	
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain; 
	background-color:#0971A8;
	
	position : absolute;
    top		 : 0;
    left     : 0;
    width    : 100%;
    height   : 10%;
	
	}

.spacer{position:relative; width:100%; height:10%;} 

.swiper-container{color:#CCC;text-align:center;height:70%;margin:0; padding:0;
	position : absolute;
    top      : 10%;
    right    : 0;
    bottom   : 10%;
    left     : 0;

 }

.pagination{position:relative; z-index:20;width:100%;text-align:center;height:10%}

.buttonwrapper {height:5%;width:100%; position:relative;} 

.swiper-pagination-switch{display:inline-block;width:8px;height:8px;border-radius:8px;background:#222;margin-right:5px;opacity:0.8;border:1px solid #666;cursor:pointer;}

.swiper-visible-switch{background:#aaa;}.swiper-active-switch{background:#fff;}

</style>
<style>
	.welcomeblock {
		margin:0; 
		padding:0; 
		height:100%; 
		background-color:#FFF; 	
		text-align:center; 
		background-repeat:no-repeat; 
		background-position:center;
		background-size:contain;
		
		} 	
	
		.slidepadding {padding-top:20px} 
.mybuttons{position:absolute;z-index:15;width:100%;}


.mybuttons a {width:100px;} 
.ui-page {style:max-height: 100%; height:100%; margin:0; padding:0; } 
#startbtn {background-color: #1F647B;border-style:none;color:white; text-shadow: none;}
#loginbtn {background-color: #BF4630;border-style:none; color:white; text-shadow: none;}
#welcome {

height : 100%;

 } 
html, body {
    height : 100%;
}
</style>


{% endblock %}

{% block title %}Notariety{% endblock %}
	

{% block content %}
	<script>
		{% if is_granted('IS_AUTHENTICATED') %}
    var url = "{{path('browse_agency')}}";    
	$(location).attr('href',url);
{% endif %}
</script>
<div  data-role="page" id="welcome" class="welcome" >
<div class="notarietyheader" style="background-image:url('{{ asset('bundles/PayGrade/images/notariety-header.jpg') }}');"></div>
<div class="spacer"></div>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide welcomeblock" 
			style="background-image:url('{{ asset('bundles/PayGrade/images/Slide-1-Draft.png') }}');">
		</div>
		<div class="swiper-slide welcomeblock" 
			style="background-image:url('{{ asset('bundles/PayGrade/images/Slide-2-Draft.png') }}');">
		</div>
		<div class="swiper-slide welcomeblock" 
			style="background-image:url('{{ asset('bundles/PayGrade/images/Slide-3-Draft.png') }}');">
		</div>
	</div>
</div> 
<div class="pagination"></div>
<div class="buttonwrapper"> 
<div class="mybuttons">
	<div style="text-align:center" data-role="none">
		<a id="startbtn" href="register" class="ui-btn ui-btn-inline startbtn" data-role="none">Get Started</a>
		<a id="loginbtn" href="{{ path('fos_user_security_login') }}" class="ui-btn ui-btn-inline loginbtn">Login</a>
	</div>
</div> 
</div> 
		


<script> 


$( document ).ready(function() {
   $(function(){
				
				
		});
});
</script>
<script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.pagination',
    paginationClickable: true
  })
  </script>
{% endblock %}