{% extends "PayGradeBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
	
		 <script src="{{ asset('bundles/PayGrade/js/idangerous.swiper.js') }}" type="text/javascript"></script>
	 	
		<link rel="stylesheet" href="{{ asset('bundles/PayGrade/js/idangerous.swiper.css') }}" />
		

	
	<style>
		.pageswiper {padding-top:60px; } 
		.welcomeblock {
		

		background-color:#FFF; 	
		text-align:center; 
		background-repeat:no-repeat; 
		background-position:center;
		background-size:contain;
		} 


</style>
<style>html{height:100%;}
body{
margin:0;font-family:Arial,Helvetica,sans-serif;
font-size:13px;line-height:1.5;position:relative;height:100%;}

.swiper-container{width:100%;height:100%;color:#CCC;text-align:center;}
.swiper-slide .title{font-style:italic;font-size:42px;margin-top:80px;margin-bottom:0;line-height:45px;}
.pagination{position:absolute;z-index:20;left:10px;bottom:10px;}
.swiper-pagination-switch{display:inline-block;width:8px;height:8px;border-radius:8px;background:#222;margin-right:5px;opacity:0.8;border:1px solid #fff;cursor:pointer;}.swiper-visible-switch{background:#aaa;}.swiper-active-switch{background:#fff;}
</style>

{% endblock %}

{% block title %}Notariety{% endblock %}
	

{% block content %}

	
	<div class="swiper-container">
<div class="swiper-wrapper">
	<div class="swiper-slide red-slide">
		<div class="title">Slide 1</div>
	</div>
	<div class="swiper-slide blue-slide">
		<div class="title">Slide 2</div>
	</div>
	<div class="swiper-slide orange-slide">
		<div class="title">Slide 3</div>
	</div>
</div>
<div class="pagination"></div>
</div>
<script src="js/jquery-1.10.1.min.js"></script>
<script src="../../js/idangerous.swiper.js"></script>
<script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.pagination',
    paginationClickable: true
  })
  </script>
		
	
	

<div class="myheader" data-role="header" data-position="fixed" data-fullscreen="true" data-iscroll-fixed data-tap-toggle="false" data-id="myheader" style="background-color:#3692D3; color:#FFF;">
		
		<h1>Notariety</h1>
    		
	</div><!-- end header -->

<script> 


$( document ).ready(function() {
   $(function(){
				$( "[data-role='header']" ).toolbar({ theme: "a" });
				
		});
});
</script>

{% endblock %}