{% extends "PayGradeBundle::layout.html.twig" %}
{% block head %} 
   {{ parent() }}
{% endblock head %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title "Login" %}
{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<div data-role="page" id="login">
<div data-role="header" data-position="fixed" data-fullscreen="true" data-iscroll-fixed data-tap-toggle="false" data-id="myheader" 	
		class="notarietyheader" style="background-image:url('{{ asset('bundles/PayGrade/images/notariety-header.jpg') }}'); 
		padding-top:0px; margin-top:0px; border-width:0; border-style:none;" style="background-color    : #0971A8;">
</div><!-- header -->	
<div role="main" class="ui-content"   style="margin-top:65px; text-align:center; ">
		<div class="ui-body ui-body-a ui-corner-all"style="max-width:500px; 
		      text-align:left;  margin-left: auto; margin-right: auto ; ">

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /><br/>

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	
	<input type="hidden" name="_target_path" value="browse_agency" />
	
</form>
</div> 
</div>
		<script>
			$(document).on( 'pagebeforeshow' , '#login' ,function(event){

				$( "[data-role='header']" ).toolbar({ theme: "a" });
				$( "body>[data-role='panel']" ).panel({ theme: "b" });
	
			});
			  $('input').on("focus", function() {
        $("[data-role=header]").css('position','fixed');
        $("[data-role=footer]").css('position','fixed'); }); 
		</script>
</div>
{% endblock fos_user_content %}
