{% extends "PayGradeBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
		<script>
			$(function(){
				$( "[data-role='header']" ).toolbar({ theme: "a" });
				$( "body>[data-role='panel']" ).panel({ theme: "b" });
			});
		</script>
{% endblock %}
{% block title "Browse Top Agencies" %}

{% block content %}
<div data-role="header" data-position="fixed" data-fullscreen="true" data-iscroll-fixed data-tap-toggle="false" data-id="myheader" 	
		class="notarietyheader" style="background-image:url('{{ asset('bundles/PayGrade/images/notariety-header.jpg') }}'); 
		padding-top:0px; margin-top:0px; border-width:0; border-style:none;" style="background-color    : #0971A8;">
		<a href="#leftpanel1" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ui-btn-icon-notext">Option</a>
		
	</div><!-- header -->	
<div data-role="page" id="browsetop">
		
<div role="main" class="ui-content" "style=" max-width:500px; text-align:left;  margin-left: auto ;
  margin-right: auto ; height:500px; padding:0px;"  >

	<div id="instructionwrapper" style="padding-top:60px; padding-left:0px; padding-right:0px;" data-iscroll-fixed > 
	<strong>Browse Top Signing Agencies</strong><br/>
	</div> <!-- wrapper -->
		<div id="browsescroll" data-role="content" class="example-wrapper" data-iscroll>
		<ul id="agencyName" data-role="listview" data-inset="false" data-filter="false" data-filter-placeholder="e.g. National Signers" data-filter-theme="a">		
		  {% for agency in agencylist %}
		<li ><a href="../agency/view/{{ agency.id }}" data-transition="slide"><div class="ui-grid-a"><div class="ui-block-a"><h2>{{ agency.agencyName }}</h2><p>{{ agency.city }}, {{ agency.state  }}</p></div><div class="ui-block-b" ><div class="rateit" data-rateit-value="{{ agency.averageRating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div><p> ({{agency.averageRatingCount }} users)</p></div></div><!-- /grid-a --></a></li>
			 {% endfor %}
		</ul>
	    </div> <!-- scroller -->
		  
	</div><!-- main -->
	<script>
$( document ).on( "pageshow", "[data-role='page']", function() {
    
    // Change the heading buttons
	
	myhtml='<a href="#leftpanel1" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ui-btn-icon-notext">Option</a>'
	
    $( "[data-role='header']" ).html( myhtml );
  
 //chage footer toolbar
  
  
  
  myhtml='<div data-role="navbar"  ><ul style="margin:0; padding:0; "><li style=""><a href="{{ path('browse_agency') }}" data-theme="a" >Search</a></li><li ><a href="{{path('top_agency') }}" data-theme="a"  >Top Agencies</a></li><li><a href="{{path('bottom_agency') }}" data-theme="a" >Bottom Agencies</a></li></ul></div><!-- /navbar -->';
  $( "[data-role='footer']" ).html( myhtml );

    $( "[data-role='header'], [data-role='footer']" ).toolbar();
});



    $(document).on('pagechange', function(e, data){    
 $('[data-role="content"]').trigger('create');
    $(".example-wrapper").iscrollview("refresh");
		
		
		
		
     });

$( document ).on( "pagecreate", "#browse", function() {
	$( "[data-role='header']" ).toolbar({ theme: "a" });
				$( "body>[data-role='panel']" ).panel({ theme: "b" });
    $( "#agencyName" ).on( "filterablebeforefilter", function ( e, data ) {
        var $ul = $( this ),
            $input = $( data.input ),
            value = $input.val(),
            html = "";
        $ul.html( "" );
        if ( value && value.length > 1 ) {
            $ul.html( "<li><div class='ui-loader'><span class='ui-icon ui-icon-loading'></span></div></li>" );
            $ul.listview( "refresh" );
            $.ajax({
                url: "{{ path('filter_agency') }}",
				type: 'POST',
                data: {
                    agencyName: $input.val()
                }
            })
            .then( function (response ) {
			var agenciescount =response.agencies.length; 
				html='<li data-role="list-divider">Agencies Found <span class="ui-li-count">'+ agenciescount +'</span></li>'; 
				
				for (var i = 0; i < agenciescount; i++) {
				
				html+='<li ><a href="/web/app_dev.php/agency/view/' + response.agencies[i].id + '" data-transition="slide"><div class="ui-grid-a"><div class="ui-block-a"><h2>'+ response.agencies[i].agencyName + ' </h2><p>' + response.agencies[i].city + ', ' + response.agencies[i].state + '</p></div><div class="ui-block-b" >' + '<div class="rateit" data-rateit-value="' +  response.averageRating[i] + '" data-rateit-ispreset="true" data-rateit-readonly="true"></div><p> (' + response.ratingCount[i] + ' users)</p></div></div><!-- /grid-a --></a></li>'; 
				
				}
				 html+='<li><a href="{{ path('create_agency') }}" ><h2>+ Add a company</h2></a></li></li>'; 
				
			
           
                $ul.html( html );
                $ul.listview( "refresh" );
                $ul.trigger( "updatelayout");
				 $('[data-role="content"]').trigger('create');
    $(".example-wrapper").iscrollview("refresh");
	   $('.rateit').rateit();
				
            });
        }
    });
});


</script>	
<script>
    $(document).on('pagechange', function(e, data){    
      $('.rateit').rateit();
	  
	  $("#ratingsblock").css("display","visible");	
	$(".example-wrapper").iscrollview("refresh");
  $( "[data-role='header'], [data-role='footer']" ).toolbar();
     });
	 
$(document).on( 'pagebeforeshow' , '#browse' ,function(event){
    			$('.rateit').rateit();
    			$( "[data-role='header']" ).toolbar({ theme: "a" });
				$( "body>[data-role='panel']" ).panel({ theme: "b" });
				  myhtml=''

});
</script>
</div><!-- page -->
<div data-role="panel" id="leftpanel1" data-position="left" data-display="overlay" >

      <h3>Settings</h3>{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <h4>{{ app.user }}</h4>
		
        <br/><br/><a href="{{path('_welcome')}}goodbye"> Logout </a><br/><br/>
		
		 {% else %}
		 <script>
			window.location = "{{path('_welcome')}}";
		</script>
		 {% endif %}
        <a href="#demo-links" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inline">Close panel</a>
</div><!-- /leftpanel1 -->
<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer" style="margin:0; padding:0; >
   		<div data-role="navbar"  ><ul ><li ><a href="{{ path('browse_agency') }}" data-theme="a" >Search</a></li><li "><a href="path('top_agency') }}" data-theme="a"  >Top Agencies</a></li><li ><a href="path('bottom_agency') }}"  data-theme="a" >Bottom Agencies</a></li></ul></div><!-- /navbar -->
	</div><!-- /footer -->





	
	
{% endblock %}


