{% extends "PayGradeBundle::layout.html.twig" %}
{% block head %}
  {{ parent() }}
	
	
{% endblock %}



{% block title "Agency - Comment" %}

{% block content %}
<div data-role="header" data-position="fixed" data-fullscreen="true" data-iscroll-fixed data-tap-toggle="false" data-id="myheader">
<a href="{{path('view_agency', {'agencyId': agencyid})}}" class="ui-btn ui-shadow ui-corner-all ui-icon-carat-l ui-btn-icon-left ui-btn-icon-notext" data-transition="slide" data-direction: "reverse">Left</a>
		<h1>Notariety</h1>
    	<a href="#leftpanel1" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ui-btn-icon-notext">Option</a>
	</div><!-- header -->
<div data-role="page" id="comments">
<div role="main" class="ui-content"  >
	<div id="instructionwrapper" style="padding-top:50px; padding-left:0px; padding-right:0px;" data-iscroll-fixed > 
		<h4>{{agency.agencyName}}</h4>
	  
	  
	  <div class="">
    <div class=""><textarea cols="40" rows="8" name="commentArea" id="commentArea" placeholder="Comment..."></textarea><div id="charactercount">254 characters left</div></div>
    <div class=""><input type="button" data-inline="true" value="Comment" id="commentButton"></div>
	</div><!-- /grid-a -->
	  
	</div> <!-- wrapper -->
	
		<div id="browsescroll" data-role="content" class="example-wrapper" data-iscroll>
		<ul id="commentList" data-role="listview" data-inset="false" data-filter="false" >		
		</ul>
	    </div> <!-- scroller -->
		  
	</div><!-- main -->
	
</div><!-- page -->
<div data-role="panel" id="leftpanel1" data-position="left" data-display="overlay" >

      <h3>Settings</h3>{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h4>{{ app.user }}</h4>
		<div class="notariety">Notariety:&nbsp;{{ notarietyTitle }} (<span id="notarietyamnt">{{notariety}}</span>)</div>
        <br/><br/><a href="{{path('fos_user_security_logout')}}"> Logout </a><br/><br/>
		
		 {% else %}
		 <script>
			window.location = "{{path('_welcome')}}";
		</script>
		 {% endif %}
        <a href="#demo-links" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inline">Close panel</a>
		

	</div><!-- /leftpanel1 -->

{% endblock %}
