{% extends "PayGradeBundle::layout.html.twig" %}
{% block head %}
 	<script>
		$(function(){
			$( "[data-role='header'], [data-role='footer']" ).toolbar({ theme: "a" });
			$( "body>[data-role='panel']" ).panel({ theme: "b" });
		});
	</script>
	
	
{% endblock %}



{% block title "Agency - Comment" %}

{% block content %}
<div data-role="header" data-position="fixed" data-fullscreen="true" data-iscroll-fixed data-tap-toggle="false" data-id="myheader" 	
		class="notarietyheader" style="background-image:url('{{ asset('bundles/PayGrade/images/notariety-header.jpg') }}'); 
		padding-top:0px; margin-top:0px; border-width:0; border-style:none;" style="background-color    : #0971A8;">
		<a href="{{ path('browse_agency') }}" class="ui-btn ui-shadow ui-corner-all ui-icon-carat-l ui-btn-icon-left ui-btn-icon-notext" data-transition="slide" data-direction: "reverse">Left</a>
		<a href="#leftpanel1" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ui-btn-icon-notext">Option</a>
	</div><!-- header -->	
<div data-role="page" id="comments">

<div role="main" class="ui-content"  >
	<div id="instructionwrapper" style="padding-left:0px; padding-top:60px; "  data-iscroll-fixed > 
		<strong>{{agency.agencyName}}</strong> 
	  	<div class="">
			
			 <div class="" style="width:60%; float:left;padding:2px;">
			 	<textarea cols="40" rows="8" name="commentArea" id="commentArea" placeholder="Comment..."></textarea></div> 
			 
			 <div class="" style=""><input type="button" data-inline="true" value="Comment" id="commentButton">		
				</div>
			
			</div>
			<div id="charactercount" style="display:block;">254 characters left</div>
     
	</div> <!-- wrapper -->
	
	<div id="browsescroll" data-role="content" class="example-wrapper" data-iscroll>
		<ul id="commentList" data-role="listview" data-inset="false" data-filter="false" >	
		<li data-role="list-divider">Comments Found <span class="ui-li-count">{{ comments|length }}</span></li>
		{% if comments %}
		{% for comment in comments %}
        <li > {{ comment.username |e }} <span id="votetotal{{comment.id}}"> {{comment.commentValue}} point{%if comment.commentValue !=1 %}s{% endif %}</span> 
	
				<span id="voteup{{comment.id}}" class="voteit {% if votemeta[loop.index0].uservote == 1 %}voteupclicked{% else %}voteuparrow{% endif %}" data-value="1" data-commentid="{{comment.id}}" value="1" ></span>
				
				<span id="votedown{{comment.id}}" class="voteit {% if votemeta[loop.index0].uservote == -1 %}votedownclicked{% else %}votedownarrow{% endif %}" data-value="-1" data-commentid="{{comment.id}}" value="-1"></span>
			 
		<p class="commentitem">{{ comment.commentText |e }} </p>
		</li>
    {% endfor %}	
	 {% endif %}
		</ul>
	    </div> <!-- scroller -->
		  
</div><!-- main -->
	<script>

$(document).on('pagebeforeshow', function(e, data){    
		$( "[data-role='header'], [data-role='footer']" ).toolbar({ theme: "a" });
			$( "body>[data-role='panel']" ).panel({ theme: "b" });
$('#commentArea').keyup(function() {
 charactersleft = 254-$('#commentArea').val().length;
      $("#charactercount").html(charactersleft + " characters left");
});




     $('#commentButton').bind('click', function (e) {
         var commenttext = $("#commentArea");
 
         //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), 
		  //we could check if e.type == 'reset', and then set the value to  null .
         
		 var value = $('#commentArea').val();
         var parentid = 1; //
		
         
         $.ajax({
             url: '{{ path('comment_agency', {'agencyId': agencyid} ) }}', //comment ajax form
             data: { commentText: value, parentId: parentid }, //our data
             type: 'POST',
             success: function (dataa) {
              
		
		
       
		var commentscount =dataa.comments.length; 
		html='<li data-role="list-divider">Comments Found <span class="ui-li-count">'+ commentscount +'</span></li>'; 
			var upvoteclass;
			var downvoteclass; 
				for (var i = 0; i < commentscount; i++) {
					if (dataa.votemeta[i].uservote == -1 ) {
						upvoteclass="voteuparrow"; 
						downvoteclass="votedownclicked";  } 
					else if (dataa.votemeta[i].uservote == 1) { 
						upvoteclass="voteupclicked"; 
						downvoteclass="votedownarrow";
						 } 
					else { 
						upvoteclass="voteuparrow";
						downvoteclass="votedownarrow";
					  } 
				
				 if (dataa.votemeta[i].votetotal==1 | dataa.votemeta[i].votetotal==1 ){pointorpoints=" point"}else { pointorpoints=" points"}; 
				 
				html+='<li >' + dataa.comments[i].username + ' <span id="votetotal' + dataa.comments[i].id + '">'
				+  dataa.votemeta[i].votetotal + pointorpoints + ' </span> '
				+ '<span id="voteup' +dataa.comments[i].id +'" class="voteit ' + upvoteclass 		+ '" data-value="1"  data-commentid="'+ dataa.comments[i].id 
				+' " value="1" ></span>' 
				+ '<span id="votedown' +dataa.comments[i].id +'"class="voteit ' + downvoteclass 	+ '" data-value="-1" data-commentid="' + dataa.comments[i].id	
				+ '" value="-1"></span>' 
				+ ' <p> ' + dataa.comments[i].commentText + ' </p></li>'; 
				
		
		
		
		
		
				
				}
				 $ul= $("#commentList");  
				
			
           
                $ul.html( html );
                $ul.listview( "refresh" );
				$('#commentArea').val(''); 
		
	
			  
			  
			  
             },
             error: function (jxhr, msg, err) {
                 $('#response').append('<li style="color:red">' + msg + '</li>');
             }
         });
     });
 

     //we bind only to the rateit controls within the ratingsblock div
	  $(document).on('click', '.commentitem', function (e) { 
	  
	  var commentitem = $(this);
	  
	  commentitem.css("overflow","visible");
	  commentitem.css("white-space","normal");
	 
		

	  
	   }); 
	 
	 
     $(document).on('click', '.voteit', function (e) {
         var votearrow = $(this);
		 var adjvalue;
		 var value =votearrow.data('value');
         var commentid = votearrow.data('commentid'); //
		 var userid ={{ app.user.id }};
		 var agencyid = {{agencyid}};
		 var votetype = 'version1';
         if (($("#voteup"+commentid).attr('class')=="voteit voteuparrow") && (value==1)) { adjvalue=1  };
		 if (($("#voteup"+commentid).attr('class')=="voteit voteupclicked") && (value==1)) { adjvalue=0  };
         if (($("#votedown"+commentid).attr('class')=="voteit votedownclicked") && (value==-1)) { adjvalue=0  };
		 if (($("#votedown"+commentid).attr('class')=="voteit votedownarrow") && (value==-1)) { adjvalue=-1  };
         $.ajax({
             url: '{{ path('vote_agency') }}', //ratings ajax form
             data: { commentid: commentid, votevalue: adjvalue, userid: userid, agencyid:agencyid, votetype:votetype }, //our data
             type: 'POST',
             success: function (datab) {
                $('.notarietyamnt').html(  datab.notariety );
 			 	$(".example-wrapper").iscrollview("refresh");
			 
			 	//  update votetotal
				//	datab.uservote
				myref="#votetotal"+datab.commentid;
				if (datab.votetotal==1 | datab.votetotal==-1 ){ pointorpoints=" point"}else { pointorpoints=" points"}; 
				$(myref).html(datab.votetotal + pointorpoints); 
			 
				/// update vote arrows.
			 if (datab.uservote == 1) { 
			 			$("#voteup"+datab.commentid).attr("class", "voteit voteupclicked")
						$("#votedown"+datab.commentid).attr("class",  "voteit votedownarrow"); 
			} 
			else if (datab.uservote==-1) { 
						$("#votedown"+datab.commentid).attr("class", "voteit votedownclicked"); 
						$("#voteup"+datab.commentid).attr("class", "voteit voteuparrow");
			} 
			 else  {	$("#voteup"+datab.commentid).attr("class", "voteit voteuparrow"); 
			 			$("#votedown"+datab.commentid).attr("class", "voteit votedownarrow");}
			 
			 
			 $( "#leftpanel1" ).trigger("updatelayout");
             },
             error: function (jxhr, msg, err) {
                 $('#response').append('<li style="color:red">' + msg + '</li>');
             }
         });
     });
 












}); 

</script>
<script>

$(document).on( 'pagebeforeshow' , '#comments' ,function(event){
    $('.rateit').rateit();
	$( "[data-role='header'], [data-role='footer']" ).toolbar({ theme: "a" });
			$( "body>[data-role='panel']" ).panel({ theme: "b" });
    
});
 // Update the contents of the toolbars
$( document ).on( "pageshow", "[data-role='page']", function() {
    
    // Change the heading buttons
	
	myhtml='<a href="{{ path('view_agency', {'agencyId': agencyid}) }}" class="ui-btn ui-shadow ui-corner-all ui-icon-carat-l ui-btn-icon-left ui-btn-icon-notext"  data-rel="back" data-transition="slide" data-direction: "reverse">Left</a><a href="#leftpanel1" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ui-btn-icon-notext">Option</a>'
	
    $( "[data-role='header']" ).html( myhtml );
  
});
</script>
</div><!-- page -->
<div data-role="panel" id="leftpanel1" data-position="left" data-display="overlay" >

      <h3>Settings</h3>{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h4>{{ app.user }}</h4>
		<div class="notariety">Notariety:&nbsp;{{ notarietyTitle }} (<span id="notarietyamnt">{{notariety}}</span>)</div>
        <br/><br/><a href="{{path('fos_user_security_logout')}}"> Logout </a><br/><br/>
		
		 {% else %}
		 <script>
			window.location = "{{path('_welcome')}}";
		</script>
		 {% endif %}
        <a href="#demo-links" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inline">Close panel</a>
</div><!-- /leftpanel1 -->

{% endblock %}
