{% extends "PayGradeBundle::layout.html.twig" %}
{% block head %}
  {{ parent() }}
	
	
{{ form_stylesheet(agencyform) }}
{{ form_javascript(agencyform) }}
{% endblock %}



{% block title "Agency - Create form" %}

{% block content %}
<div data-role="page">
<div role="main" class="ui-content"   style="margin-top:65px; text-align:center; ">
		<div class="ui-body ui-body-a ui-corner-all"style="max-width:500px; 
		      text-align:left;  margin-left: auto; margin-right: auto ; ">
<div style="margin-top:60px"> 
{{ form(agencyform) }}
<script type="text/javascript">
function agencyForm( $form, callback ){
	/*
	* Get all form values
	*/
	var values = {};
	$.each( $form.serializeArray(), function(i, field) {
	values[field.name] = field.value;
	});
	/*
	* Throw the form values to the server!
	*/
		$.ajax({
			type : $form.attr( 'method' ),
			url : $form.attr( 'action' ),
			data : values,
			success : function(data) {
				callback( data );
				}
		});
}
//$(document).ready(function(){
// Array is not neccesary for the example, keep it simple !
// var forms = [
// '[ name="{{ agencyform.vars.full_name }}"]'
// ];
//$( 'form' ).submit( function( e ) {
//e.preventDefault();
//agencyForm( $(this), function( response ) {
//console.log(JSON.stringify(response)); // Good tutorial stuff
//});

//});
//});
</script>
</div> 
</div>
</div> 
</div>
{% endblock %}
