{% extends "PayGradeBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
		<script>
		$(function(){
			$( "[data-role='header'], [data-role='footer']" ).toolbar({ theme: "a" });
			$( "body>[data-role='panel']" ).panel({ theme: "b" });
		});
	</script>
{% endblock %}

{% block title "View Agency - " %}

{% block content %}
<div class="myheader" data-role="header" data-position="fixed" data-fullscreen="true" data-tap-toggle="false" data-id="myheader" style="background-color:#3692D3; color:#FFF;">
		<a href="{{ path('browse_agency') }}" class="ui-btn ui-shadow ui-corner-all ui-icon-carat-l ui-btn-icon-left ui-btn-icon-notext" data-transition="slide" data-direction: "reverse">Left</a>
		<h1>Notariety - </h1>
    		<a href="#leftpanel1" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-gear ui-btn-icon-notext">Option</a>
	</div><!-- end header -->

<div  data-role="page" id="agencydetail">
	
<div role="main" class="ui-content" style="background-color:#CCCCCC; padding:0px;">
	<div id="contactdetails" style="margin-top:50px; color:#"  data-iscroll-fixed>
		<div class="contactblockleft"><strong>{{ agency.agencyName }}</strong> </br>
			<div style="width:100%; background-color:#EEEEEE;">
				{{ agency.city }}, {{ agency.state }}</br>
				<div class="contactblockright"  >(p)&nbsp;<a href="tel://{{ agency.billingPhone}}">{{ agency.billingPhone}}</a></br>(e)&nbsp;<a href="mailto:{{ agency.email}}">{{ agency.email}}</a> 
				</div>  <!-- end contact block right -->
			</div>
		</div><!-- endcontact block left --> 
	</div> <!-- endcontact contactdetails -->
	<div id="ratingsblock"  >
		<div> <!-- not sure wrapper -->
			<div    > <!-- wrapper -->
				<div  id="browsescroll" data-role="content" class="example-wrapper" data-iscroll>
					<ul data-role="listview" id="output" data-inset="false">
        			<li  data-role = "none"><p>Rate your overall experience with this company:</p> 
        			<input data-role="none" type="range" min="0" max="5" value="{{overview}}" step="1" name="ratingvalue" id="ratingvalue">
						<div data-rateit-backingfld="#ratingvalue" class="rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32" 					data-rateit-value="{{overview}}" data-rateit-resetable="false" data-agencyid="{{agencyid}}" data-userid="{{myid}}" data-ratingid='0' data-ratingtype="overall" class="rateit">
						</div>	
			
					</li>
					<li  data-role = "none"><p>How soon were you paid for your work?</p> 
					<input data-role="none" type="range" min="0" max="5" value="{{paymentvalue}}" step="1" name="paymentvalue" id="paymentvalue">
						<div data-rateit-backingfld="#paymentvalue" class="rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32" 					data-rateit-value="{{paymentvalue}}" data-rateit-resetable="false" data-agencyid="{{agencyid}}" data-userid="{{myid}}" data-ratingid='0' data-ratingtype="payment" class="rateit">
						</div>
			
					</li>
					<li  data-role = "none"><p>How quickly did you recieve the documents?</p> 
					<input data-role="none" type="range" min="0" max="5" value="{{documentsvalue}}" step="1" name="documentsvalue" id="documentsvalue">
						<div data-rateit-backingfld="#documentsvalue" class="rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32" 					data-rateit-value="{{documentsvalue}}" data-rateit-resetable="false" data-agencyid="{{agencyid}}" data-userid="{{myid}}" data-ratingid='0' data-ratingtype="documents" class="rateit">
						</div>
		
					</li>
					<li  data-role = "none"><p>How satisfied were you with the pay rate?</p> 
					<input data-role="none" type="range" min="0" max="5" value="{{payratevalue}}" step="1" name="payratevalue" id="payratevalue">
					<div data-rateit-backingfld="#payratevalue" class="rateit bigstars" data-rateit-starwidth="32" data-rateit-starheight="32" 					data-rateit-value="{{payratevalue}}" data-rateit-resetable="false" data-agencyid="{{agencyid}}" data-userid="{{myid}}" data-ratingid='0' data-ratingtype="payrate" class="rateit">
					</div>
					</li>
					<li>
					<div style="text-align:center"><a href="{{ path('browse_agency') }}?agencyid={{agencyid}}" class="ui-btn ui-btn-inline">Continue</a>
					</div>
					</li>
					</ul>
	
				</div><!-- end scroller -->
			</div><!-- end wrapperr -->
		</div>
	</div> <!-- end ratings -->
</div><!-- end main -->

	<div data-role="footer" data-position="fixed" data-tap-toggle="false" class="jqm-footer">
   		<div data-role="navbar">
       	<ul>
          <li><a href="#one" data-theme="a" >overview</a></li>
          <li><a href="#two" data-theme="a" >rate</a></li>
          <li><a href="{{path('comment_agency', {'agencyId': agencyid})}}" data-theme="a" >comment</a></li>
        </ul>
    	</div><!-- /navbar -->
	</div><!-- /footer -->
	<script type ="text/javascript">
     //we bind only to the rateit controls within the ratingsblock div
     $('#ratingsblock .rateit').bind('rated reset', function (e) {
         var ri = $(this);
 
         //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), 
		  //we could check if e.type == 'reset', and then set the value to  null .
         
		 var value = ri.rateit('value');
         var ratingid = ri.data('ratingid'); //
		 var userid = ri.data('userid');
		 var agencyid = ri.data('agencyid');
		 var ratingtype = ri.data('ratingtype');
         //maybe we want to disable voting?
         
         $.ajax({
             url: '{{ path('rate_agency') }}', //ratings ajax form
             data: { ratingid: ratingid, ratingvalue: value, userid: userid, agencyid:agencyid, ratingtype:ratingtype }, //our data
             type: 'POST',
             success: function (dataa) {
                $('.notarietyamnt').html(  dataa.notariety );
 			 $(".example-wrapper").iscrollview("refresh");
			 $( "#leftpanel1" ).trigger("updatelayout");
             },
             error: function (jxhr, msg, err) {
                 $('#response').append('<li style="color:red">' + msg + '</li>');
             }
         });
     });
 
 </script>
<script>
    $(document).on('pagechange', function(e, data){    
      $('.rateit').rateit();
	  
	  $("#ratingsblock").css("display","visible");	
	$(".example-wrapper").iscrollview("refresh");
     });
	 
$(document).on( 'pagebeforeshow' , '#agencydetail' ,function(event){
    $('.rateit').rateit();
    
});
</script>

</div> <!-- end page -->
<div data-role="panel" id="leftpanel1" data-position="left" data-display="overlay" >
 <h3>Settings</h3>
        <h4>{{ app.user }}</h4>
		<div class="notariety">Notariety: <div id="notarietyamnt">{{notariety}}</div></div>
        <a href="{{path('fos_user_security_logout')}}"> Logout </a><br/><br/>
        <a href="#demo-links" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inline">Close panel</a>

	</div><!-- /leftpanel1 -->
	
{% endblock %}


