{% extends "PayGradeBundle::layout.html.twig" %}


{% block title %}Registration - Confirmed{% endblock %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
    {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
<div  data-role="page" id="RegistrationConfirmed">

	<div data-role="header" data-position="fixed" data-fullscreen="true" data-iscroll-fixed data-tap-toggle="false" data-id="myheader" 	
		class="notarietyheader" style="background-image:url('{{ asset('bundles/PayGrade/images/notariety-header.jpg') }}'); 
		padding-top:0px; margin-top:0px; border-width:0; border-style:none;" style="background-color    : #0971A8;">
	</div><!-- header -->	
	
	<div role="main" class="ui-content" style="background-color:#CCCCCC;  style="margin-top:90px; text-align:center; ">
		<div class="ui-body ui-body-a ui-corner-all"style="max-width:500px; 
		      text-align:left;  margin-left: auto; margin-right: auto ; height:500px;">
			<div style="padding-top:80px">
    			<div class="symfony-blocks-welcome" style="background-color:#EEEEEE; padding:10px; "> 
	 				<h1 class="title">Welcome! </h1>
					<p>Congratulations {{ user.username }}</p>
					<br/>
        			Rate agencies and make comments to gain Notariety points and to unlock app features!<br/>
					<br/>
					<div style="text-align:center">
						<a href="{{ path('browse_agency') }}" class="ui-btn ui-btn-inline">Continue</a>
					</div>
   				</div>
			</div>
		</div>
	</div>
		{% if app.session is not empty %}
        	{% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        	{% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    	{% endif %}
		<div data-role="panel" id="leftpanel1" data-position="left" data-display="overlay" >
      		<h3>Settings</h3>{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        	<h4>{{ app.user }}</h4>
			<div class="notariety">Notariety:&nbsp; (<span id="notarietyamnt"></span>)</div>
        	<br/><br/>
			<a href="{{path('_welcome')}}goodbye"> Logout </a><br/><br/>
		 {% else %}
		 	<script>
				window.location = "{{path('_welcome')}}";
			</script>
		 {% endif %}
        	<a href="#demo-links" data-rel="close" 
			class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inline">Close panel</a>
		</div>	
		
		<script>
			$(document).on( 'pagebeforeshow' , '#RegistrationConfirmed' ,function(event){

				$( "[data-role='header']" ).toolbar({ theme: "a" });
				$( "body>[data-role='panel']" ).panel({ theme: "b" });
	
			});
		</script>
		
		
</div>

{% endblock fos_user_content %}




