{% extends "PayGradeBundle::layout.html.twig" %}
{% block head %}
    {{ parent() }}
		<script>
		$(function(){
			$( "[data-role='header']" ).toolbar({ theme: "a" });
				$( "body>[data-role='panel']" ).panel({ theme: "b" });
		});
		
	</script>
<style>html{height:100%;}
body{
margin:0;font-family:Arial,Helvetica,sans-serif;
font-size:13px;line-height:1.5;position:relative;height:100%;padding:0;
background-color:#FFF; 
}



.notarietyheader, {z-index:10;width:100%;
	
	background-repeat   : no-repeat;
	background-position : center;
	background-size     : contain; 
	
	
	position : relative;
    top		 : 0;
    left     : 0;
    width    : 100%;
    height   : 10%;
	
	}
	
.ui-header .ui-title { background-color    : #0971A8;} 
	</style> 	
	
	
{% endblock %}
{% block fos_user_content %}

<div data-role="page" id="register" class="scroll">
<div data-role="header" data-position="fixed" data-fullscreen="true" data-iscroll-fixed data-tap-toggle="false" data-id="myheader" class="notarietyheader" style="background-image:url('{{ asset('bundles/PayGrade/images/notariety-header.jpg') }}'); padding-top:0px; margin-top:0px; border-width:0; border-style:none;" style="background-color    : #0971A8;">
<a href="{{ path('browse_agency') }}" class="ui-btn ui-shadow ui-corner-all ui-icon-carat-l ui-btn-icon-left ui-btn-icon-notext" data-transition="slide" data-direction: "reverse" data-rel="back">Left</a>
		
    	
	</div><!-- header -->
<div role="main" class="ui-content" style=" text-align:center; margin-top:65px; ">
<div class="ui-body ui-body-a ui-corner-all"style=" max-width:500px; text-align:left;  margin-left: auto ;
  margin-right: auto ; height:500px; padding:0px;">
<div id="browsescroll" data-role="content" class="example-wrapper" data-iscroll >
<div style="padding:2em"; > 
{% include "FOSUserBundle:Registration:register_content.html.twig" %} 
</div> 
</div>
</div>
</div>
<script>
    $(document).on('pagechange', function(e, data){    
  
	  $("#ratingsblock").css("display","visible");	
	$(".example-wrapper").iscrollview("refresh");
	$( "[data-role='header']" ).toolbar({ theme: "a" });
				$( "body>[data-role='panel']" ).panel({ theme: "b" });
     });
	 
$(document).on( 'pagebeforeshow' , '#register' ,function(event){
    $('.rateit').rateit();
    $( "[data-role='header']" ).toolbar({ theme: "a" });
	$( "body>[data-role='panel']" ).panel({ theme: "b" });
});
</script>
</div>


{% endblock fos_user_content %}
