.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(star.gif);
    height: 16px;
    outline: none;
}

.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

.rateit .rateit-hover
{
    background: url(star.gif) left -32px;
}

.rateit .rateit-hover-rtl
{
    background-position: right -32px;
}

.rateit .rateit-selected
{
    background: url(star.gif) left -16px;
}

.rateit .rateit-selected-rtl
{
    background-position: right -16px;
}

.rateit .rateit-preset
{
    background: url(star.gif) left -48px;
}

.rateit .rateit-preset-rtl
{
    background: url(star.gif) left -48px;
}

.rateit button.rateit-reset
{
    background: url(delete.gif) 0 0;
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
    outline: none;
    border:none;
    padding: 0;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -16px;
}
div.bigstars div.rateit-range
{
    background: url(star-white32.png);
    height: 32px;
}
 
div.bigstars div.rateit-hover
{
    background: url(star-gold32.png);
}
 
div.bigstars div.rateit-selected
{
    background: url(star-red32.png);
}
 
div.bigstars div.rateit-reset
{
    background: url(star-black32.png);
    width: 32px;
    height: 32px;
}
 
div.bigstars div.rateit-reset:hover
{
    background: url(star-white32.png);
}
body {
    height: 100%;
    overflow: hidden;
}
.ui-content {
    padding: 0 !important;
}
 
.ui-listview {
    margin: 0 !important;
}
 
.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}

.ui-filter-inset {
    margin-top: 0;
}
ul.ui-autocomplete {
    z-index: 3 !important;
}
.ui-input-search input {position:relative;!important } 
[data-id="myheader"] {background-color:#3692D3; color:#FFF;  } 


.ui-block-b {padding-top:8px; 
width:30%;} 

.voteuparrow { float:right; width:30px; height:30px; background-image:url(images/icons-png/arrow-u-black.png); background-position:center; background-repeat:no-repeat;  } 
.votedownarrow {float:right; width:30px; height:30px;  background-image:url(images/icons-png/arrow-d-black.png); background-position:center; background-repeat:no-repeat;  } 
.voteupclicked {float:right; width:30px; height:30px; background-image:url(images/icons-png/arrow-u-black.png); background-position:center; background-repeat:no-repeat; -webkit-filter: drop-shadow(0px 0px 15px blue);
filter: drop-shadow(
8px 8px 10px red); } 
.votedownclicked {float:right; width:30px; height:30px;  background-image:url(images/icons-png/arrow-d-black.png); background-position:center; background-repeat:no-repeat; -webkit-filter: drop-shadow(0px 0px 15px blue);
filter: drop-shadow(
8px 8px 10px red);

} 


.notarietyheader {z-index:10;width:100%;
	
	background-repeat   : no-repeat;
	background-position : center;
	background-size     : contain; 
	background-color    : #0971A8;
	
	position : relative;
    top		 : 0;
    left     : 0;
    width    : 100%;
    height   : 10%;
	
	}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {background-color: #f9f9f9;}

#browse {background-color: #f9f9f9;}
