<!DOCTYPE html>
<html>
    <head>
	 <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
       <meta name="viewport" id="viewport"
  content="width=device-width, height=device-height,
  initial-scale=1.0, maximum-scale=1.0,
  user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<!-- iPhone -->
<link href="{{ asset('apple-touch-startup-image-320x460.png') }}"
      media="(device-width: 320px) and (device-height: 480px)
         and (-webkit-device-pixel-ratio: 1)"
      rel="apple-touch-startup-image">
<!-- iPhone (Retina) -->
<link href="{{ asset('apple-touch-startup-image-640x920.png') }}"
      media="(device-width: 320px) and (device-height: 480px)
         and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">
<!-- iPhone 5 -->
<link href="{{ asset('apple-touch-startup-image-640x1096.png') }}"
      media="(device-width: 320px) and (device-height: 568px)
         and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">
<!-- iPad (portrait) -->
<link href="apple-touch-startup-image-768x1004.png"
      media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: portrait)
         and (-webkit-device-pixel-ratio: 1)"
      rel="apple-touch-startup-image">
<!-- iPad (landscape) -->
<link href="apple-touch-startup-image-748x1024.png"
      media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 1)"
      rel="apple-touch-startup-image">
<!-- iPad (Retina, portrait) -->
<link href="apple-touch-startup-image-1536x2008.png"
      media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: portrait)
         and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">
<!-- iPad (Retina, landscape) -->
<link href="apple-touch-startup-image-1496x2048.png"
      media="(device-width: 768px) and (device-height: 1024px)
         and (orientation: landscape)
         and (-webkit-device-pixel-ratio: 2)"
      rel="apple-touch-startup-image">
	
		<script src="{{ asset('bundles/PayGrade/js/jquery-1.11.0.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('bundles/PayGrade/js/jquery-ui-1.10.4.custom.js') }}" type="text/javascript"></script>
	
	 	<script src="{{ asset('bundles/PayGrade/js/jquery.mobile-1.4.2.min.js') }}" type="text/javascript"></script>
	  		
		<link rel="stylesheet" href="{{ asset('bundles/PayGrade/js/jquery.mobile-1.4.2.min.css') }}" />
 		<script src="{{ asset('bundles/PayGrade/js/jquery.rateit.js') }}" type="text/javascript"></script> <script src="{{ asset('bundles/PayGrade/js/iscroll.js') }}" type="text/javascript"></script>
		 <script src="{{ asset('bundles/PayGrade/js/jquery.mobile.iscrollview.js') }}" type="text/javascript"></script>
	 	 <script src="{{ asset('bundles/PayGrade/js/idangerous.swiper.js') }}" type="text/javascript"></script>
		<link rel="stylesheet" href="{{ asset('bundles/PayGrade/js/jquery.mobile.iscrollview.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/PayGrade/js/rateit.css') }}" />
        <title>{% block title %}{% endblock %}</title>
  
		  <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />

        {% block head %}{% endblock %}
		<style>html{height:100%;}
body{
margin:0;font-family:Arial,Helvetica,sans-serif;
font-size:13px;line-height:1.5;position:relative;height:100%;padding:0;
background-color:#FFF; 
}



.notarietyheader {z-index:10;width:100%;
	
	background-repeat   : no-repeat;
	background-position : center;
	background-size     : contain; 
	background-color    : #0971A8;
	
	position : relative;
    top		 : 0;
    left     : 0;
    width    : 100%;
    height   : 50px; 
	position:fixed;
	
	}

.spacer{position:relative; width:100%; height:5%;} 

.swiper-container{color:#CCC;text-align:center;height:65%;margin:0; padding:0;
	width :100%; 
	position : relative;
    top      : 0%;
    right    : 0;
    left     : 0;

 }
.paginationwrap { 
position:relative; z-index:20;width:100%;text-align:center;height:5%; 
} 
.pagination{position:relative; z-index:20;width:100%;text-align:center;

}

.buttonwrapper {
	width    : 100%;
	position : relative
   	top		 : 0; 

    width    : 100%;
    height   : 10%;
	background-color:#FFF; 
	margin:0; 
	padding:0; 
} 

.swiper-pagination-switch{display:inline-block;width:8px;height:8px;border-radius:8px;background:#222;margin-right:5px;opacity:0.8;border:1px solid #666;cursor:pointer;}

.swiper-visible-switch{background:#aaa;}.swiper-active-switch{background:#fff;}


	.welcomeblock {
		margin:0; 
		padding:0; 
		height:100%; 
		background-color:#FFF; 	
		text-align:center; 
		background-repeat:no-repeat; 
		background-position:center;
		background-size:contain;
		
		} 	
	
		.slidepadding {padding-top:20px} 
		
.mybuttons{
width:100%; 
padding:0; margin:0; 
		top: 50%;
	transform: 			translateY(-50%);
}


.mybuttons a {width:110px; } 
.ui-page {style:max-height: 100%; height:100%; margin:0; padding:0; } 
#startbtn {background-color: #1F647B;border-style:none;color:white; text-shadow: none;}
#loginbtn {background-color: #BF4630;border-style:none; color:white; text-shadow: none;}
#welcome {
position:relative; 
top:0;
left:0;
margin:0; 
padding:0; 
height : 100%;
background-color:#FFF; 
text-align:center; 
 } 
html, body {
    height : 100%;
	background-color:#FFF; 
	padding:0; 
	margin:0; 
	
}
.ui-header-fixed {padding-top:0px; }



.voteuparrow { float:right; width:30px; height:30px; background-image:url({{ asset('bundles/PayGrade/js/images/icons-png/arrow-u-black.png') }}); background-position:center; background-repeat:no-repeat;  } 


.votedownarrow {float:right; width:30px; height:30px;  background-image:url({{ asset('bundles/PayGrade/js/images/icons-png/arrow-d-black.png') }}); background-position:center; background-repeat:no-repeat;  } 
.voteupclicked {float:right; width:30px; height:30px; background-image:url({{ asset('bundles/PayGrade/js/images/icons-png/arrow-u-black.png') }}); background-position:center; background-repeat:no-repeat; -webkit-filter: drop-shadow(0px 0px 15px blue);
filter: drop-shadow(
8px 8px 10px blue); } 
.votedownclicked {float:right; width:30px; height:30px;  background-image:url({{ asset('bundles/PayGrade/js/images/icons-png/arrow-d-black.png') }}); background-position:center; background-repeat:no-repeat; -webkit-filter: drop-shadow(0px 0px 15px blue);
filter: drop-shadow(
8px 8px 10px blue); } 

 ui.footer a { height:30px; } 
</style>


    </head>
    <body>
        
            {% block body %}{% endblock %}
			{{ block('fos_user_content') }}
        	{% block content %}{% endblock %}
    			
    </body>
</html>




    

    